<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.first_name, user %></td>
    </tr>
  <% end %>
</table>

<% @messages.each do |message| %>
<%= "#{@current_user.first_name}: #{message}" %>
<% end %>

<div id="<%= @current_user.chat_id %>"></div>