<div class="main">

  <div class="listings">
    <div class="listings_channels">
      <h2 class="listings_header">Users</h2>
      <ul class="channel_list">
        <% @users.each do |user| %>
          <li class="channel active">
            <%= link_to user.first_name, user %></span></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="message-history" id="messages">
    <% @messages.each do |message| %>
      <p><%= "#{@current_user.first_name}: #{message.message}" %></p>
    <% end %>

    <div id="<%= @current_user.chat_id %>"></div>
  </div>

</div>


<div class="footer">
  <div class="input-box">
    <input type="text" class="input-box_text" id="message_input"/>
  </div>
</div>
