<% content_for :chats do %>
  <% @chats.each do |chat| %>
    <li class="channel">
      <%= link_to chat.first_name, chat %>
    </li>
  <% end %>
<% end %>


<% content_for :messages_history do %>
  <h1 class="welcome">Select a Chat</h1>
<% end %>
